<% if(resetPasswordToken.isValid) {%>
    <h1>Reset Password</h1>
    <form action="/users/forget/<%=resetPasswordToken.accessToken%>" method="POST">
        <input name="password" type="password" placeholder="Enter the new password" />
        <input name="confirm_password" placeholder="Confirm your password" />
        <input type="submit" type="password" value="Reset your Password" />
    </form>
    <%} else {%>

        <p>Your password reset link is expired</p>
        <%} %>