<h1>this is a <%= title %>
</h1>

<form action="/user/create-session" method="post">
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="sing in">
</form>