<link rel="stylesheet" href="/css/user.css">



<div class="container">
    <h1>this is the <%= title %>
    </h1>
    <p>
        <%= user.name %>
    </p>
    <p>
        <%= user.email %>
    </p>

</div>